openapi: 3.1.0
info:
  title: Stone Techno Companion Lineup Data API
  version: 0.1.0
  description: >-
    Read-only JSON API over festival lineup/timetable/artist data, implementing
    the hybrid serving strategy recommended in `docs/api/lineup-data-api.md`
    (section 3, option c): `services/data/scraper/lineup_api_json.py` emits static
    JSON files at pipeline build time into `services/data/output/api/v1/`, and
    `services/companion/api.py` fronts them with explicit routes that set
    `Cache-Control: no-cache` (matching the existing `/bios.json`,
    `/manifest.json`, `/shared.css`, `/shared.js` convention) so a content
    deploy is picked up without a hard reload.

    Every id in this API is reproduced exactly from the existing, unmodified
    id-generation code, never re-derived (INV-1, `docs/invariants.md`; section 5
    of the design doc): `card_id` is
    `str(uuid.uuid5(uuid.NAMESPACE_URL, f"{artist_id}:{date}:{period}:{floor_id or ''}"))`,
    the same formula as `render.py`'s `card_key`/`a_card_key`, and `slot_id` is
    `timetable_json.slot_uuid()` called directly. Both are the exact ids the
    existing favorites/schedule write API (`services/companion/api.py`,
    `docs/api/companion-openapi.yaml`) already validates via `UUID_RE` and
    stores in `hearts.db` -- a client must send `card_id`/`slot_id` from this
    API verbatim to `POST /api/session/{code}/pick/{card_id}` or
    `.../schedule/{slot_id}`, never the raw `id` field.

    This is a separate contract from `docs/api/companion-openapi.yaml` (the
    non-chat favorites/schedule/session surface), which this API does not
    touch or duplicate.
  contact:
    name: Stone Techno Companion
servers:
  - url: https://stonetechno.deftlab.dev
    description: Production
  - url: https://localhost:64728
    description: Local dev (uvicorn with mkcert TLS certs, see CLAUDE.md)

tags:
  - name: lineup-data
    description: >-
      Read-only event/lineup/timetable/artist JSON, generated by the pipeline
      at build time and served as static files. Never varies per request; only
      changes when the pipeline re-runs (`--render-only` or a full scrape).

components:
  parameters:
    eventIdParam:
      name: event_id
      in: path
      required: true
      description: >-
        Event slug (`events.id` in `lineup.db`), e.g. "stone-techno-2026".
        Validated server-side against `EVENT_ID_RE`
        (`^[a-z0-9][a-z0-9-]{0,63}$`, path-traversal-safe) before any
        filesystem lookup; a value that fails this shape 404s the same as an
        unknown-but-well-shaped event id (no 422 -- there is no fixed id
        format promised for event slugs the way there is for artist/slot
        UUIDs).
      schema:
        type: string
        pattern: "^[a-z0-9][a-z0-9-]{0,63}$"
        example: "stone-techno-2026"

    artistIdParam:
      name: artist_id
      in: path
      required: true
      description: >-
        Raw `artists.id` (what `render.py` emits as `data-oid`, and what
        `bios.json` is already keyed by today) -- NOT `card_id`. Validated
        against `LINEUP_ARTIST_ID_RE` (`^[a-zA-Z0-9_-]{1,128}$`,
        path-traversal-safe); a shape mismatch 404s the same as an unknown id.
      schema:
        type: string
        pattern: "^[a-zA-Z0-9_-]{1,128}$"
        example: "5296a367-bad4-4fb3-a383-68bc57f1d4d4"

  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
      required: [detail]

    EventMetadata:
      type: object
      description: >-
        `events` table columns, plus `short_name`/`edition` used by the
        `"{Line-up|Timetable} · {short_name}"` and
        `"{name} {edition} Companion"` page-title conventions (CLAUDE.md).
        `start_date`/`end_date`/`address`/`website`/`source_url`/`latitude`/
        `longitude` are frequently `null` -- today's scraper never populates
        them; the client must derive the festival's day list from
        `GET .../timetable`'s `days` array, not from `start_date`/`end_date`.
      properties:
        id:
          type: string
          example: "stone-techno-2026"
        name:
          type: string
          example: "Stone Techno"
        short_name:
          type: [string, "null"]
          example: "ST26"
        edition:
          type: [string, "null"]
          example: "2026"
        timezone:
          type: string
          example: "Europe/Berlin"
        start_date:
          type: [string, "null"]
        end_date:
          type: [string, "null"]
        address:
          type: [string, "null"]
        website:
          type: [string, "null"]
        source_url:
          type: [string, "null"]
        latitude:
          type: [number, "null"]
        longitude:
          type: [number, "null"]
      required:
        - id
        - name
        - short_name
        - edition
        - timezone
        - start_date
        - end_date
        - address
        - website
        - source_url
        - latitude
        - longitude

    ArtistLink:
      type: object
      properties:
        platform:
          type: string
          example: "instagram"
        url:
          type: string
        follower_count:
          type: [integer, "null"]
          description: 'null (never 0 or "") when the count has not been fetched.'
      required: [platform, url, follower_count]

    LineupArtistAllSlot:
      type: object
      description: One schedule row for this artist anywhere in the event (across all dates/periods/floors).
      properties:
        date:
          type: string
          example: "2026-07-11"
        period:
          type: [string, "null"]
          example: "night"
        floor_id:
          type: [string, "null"]
        floor_name:
          type: [string, "null"]
        start_time:
          type: [string, "null"]
          example: "2026-07-11T23:00"
        end_time:
          type: [string, "null"]
          example: "2026-07-12T01:00"
      required: [date, period, floor_id, floor_name, start_time, end_time]

    LineupArtistEntry:
      type: object
      properties:
        id:
          type: string
          description: Raw artists.id (data-oid). Not a valid pick/schedule key.
          example: "5296a367-bad4-4fb3-a383-68bc57f1d4d4"
        card_id:
          type: string
          description: >-
            The favorites/heart id, `uuid5(NAMESPACE_URL,
            f"{id}:{date}:{period}:{floor_id or ''}")`. Send this exact value
            to `POST /api/session/{code}/pick/{card_id}`.
          pattern: "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          example: "d3dc4586-ec29-5d38-ad19-2bf11ed003ee"
        name:
          type: string
        photo:
          type: string
          description: 'Relative path under the static origin, e.g. "photos/{id}.avif", or "" if the artist has no processed photo.'
        links:
          type: array
          items:
            $ref: "#/components/schemas/ArtistLink"
        slot:
          type: object
          description: This entry's own time in this specific date/period/floor grouping.
          properties:
            start_time:
              type: [string, "null"]
            end_time:
              type: [string, "null"]
          required: [start_time, end_time]
        all_slots:
          type: array
          items:
            $ref: "#/components/schemas/LineupArtistAllSlot"
      required: [id, card_id, name, photo, links, slot, all_slots]

    LineupFloorGroup:
      type: object
      description: Night-period-only grouping of a period's artists by floor.
      properties:
        floor_id:
          type: [string, "null"]
        floor_name:
          type: [string, "null"]
        artists:
          type: array
          items:
            $ref: "#/components/schemas/LineupArtistEntry"
      required: [floor_id, floor_name, artists]

    LineupPeriod:
      type: object
      description: >-
        Night periods carry `floors` (grouped) and omit `artists`; non-night
        (`day`) periods carry a flat `artists` array and omit `floors`,
        mirroring render.py's day/night branch.
      properties:
        period:
          type: string
          example: "night"
        floors:
          type: array
          items:
            $ref: "#/components/schemas/LineupFloorGroup"
        artists:
          type: array
          items:
            $ref: "#/components/schemas/LineupArtistEntry"
      required: [period]

    LineupDay:
      type: object
      properties:
        date:
          type: string
          example: "2026-07-11"
        periods:
          type: array
          items:
            $ref: "#/components/schemas/LineupPeriod"
      required: [date, periods]

    LineupResponse:
      type: object
      properties:
        event_id:
          type: string
        days:
          type: array
          items:
            $ref: "#/components/schemas/LineupDay"
      required: [event_id, days]

    TimetableFloor:
      type: object
      description: >-
        One global floor list per event, from `event_stages` joined to
        `stages`, ordered by `event_stages.position` (NOT render.py's
        hardcoded `canonical_floor_order` -- the design doc section 2.3 flags
        that list as a legacy workaround this API deliberately does not copy
        forward).
      properties:
        id:
          type: string
          example: "koksofenbatterie"
        name:
          type: string
          example: "Koksofenbatterie"
        color:
          type: [string, "null"]
          description: '"R, G, B" as stored in event_stages.color, or null if unset.'
          example: "197, 213, 249"
      required: [id, name, color]

    TimetableNote:
      type: object
      description: A stage_notes entry for this specific (date, floor_id).
      properties:
        floor_id:
          type: string
        note:
          type: string
          example: "curated by Freddy K"
      required: [floor_id, note]

    TimetableSlotArtist:
      type: object
      properties:
        id:
          type: string
        card_id:
          type: string
          description: >-
            Per-artist favorites id (distinct from slot_id, tracked even
            inside a shared B2B card).
          pattern: "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
        name:
          type: string
        photo:
          type: string
      required: [id, card_id, name, photo]

    TimetableSlot:
      type: object
      description: One (floor, start_time, end_time) group, which may hold multiple artists (a B2B set).
      properties:
        slot_id:
          type: string
          description: >-
            `timetable_json.slot_uuid()` (INV-1), unchanged. For a B2B slot
            this id is shared by every artist in the group. Send this exact
            value to `POST /api/session/{code}/schedule/{slot_id}`.
          pattern: "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
          example: "30d65626-e2bc-5bea-aa8c-51a4b253143c"
        floor_id:
          type: string
        start_time:
          type: string
          example: "2026-07-11T23:00"
        end_time:
          type: string
          example: "2026-07-12T01:00"
        is_b2b:
          type: boolean
        artists:
          type: array
          items:
            $ref: "#/components/schemas/TimetableSlotArtist"
      required: [slot_id, floor_id, start_time, end_time, is_b2b, artists]

    TimetablePeriod:
      type: object
      properties:
        period:
          type: string
          example: "night"
        is_night:
          type: boolean
        grid_start_min:
          type: integer
          description: Floored-to-hour, night-wraparound-adjusted minute value (same math render.py uses for its CSS grid).
        grid_end_min:
          type: integer
        floor_ids:
          type: array
          items:
            type: string
          description: Per-period floor column order, filtered from the top-level floors list.
        notes:
          type: array
          items:
            $ref: "#/components/schemas/TimetableNote"
        slots:
          type: array
          items:
            $ref: "#/components/schemas/TimetableSlot"
      required:
        - period
        - is_night
        - grid_start_min
        - grid_end_min
        - floor_ids
        - notes
        - slots

    TimetableDay:
      type: object
      properties:
        date:
          type: string
        periods:
          type: array
          items:
            $ref: "#/components/schemas/TimetablePeriod"
      required: [date, periods]

    TimetableResponse:
      type: object
      properties:
        event_id:
          type: string
        floors:
          type: array
          items:
            $ref: "#/components/schemas/TimetableFloor"
        days:
          type: array
          items:
            $ref: "#/components/schemas/TimetableDay"
      required: [event_id, floors, days]

    ArtistSet:
      type: object
      properties:
        id:
          type: string
          description: The platform's native video id (e.g. a YouTube video id).
          example: "9Zvb6IgLEIE"
        platform:
          type: string
          example: "youtube"
        url:
          type: string
        title:
          type: string
        view_count:
          type: integer
        duration_min:
          type: integer
        upload_date:
          type: [integer, "null"]
          example: 20260331
        thumb:
          type: string
          description: '"thumbs/{id}.avif", keyed by the set id, not the artist id.'
      required: [id, platform, url, title, view_count, duration_min, upload_date, thumb]

    ArtistDetailResponse:
      type: object
      description: >-
        Lazy-loaded replacement for a single `bios.json` entry, keyed by the
        raw artist id (not card_id/slot_id). Only artists actually scheduled
        in this event's lineup are emitted -- same scope as today's
        `bios.json`, not every artist row in the (global, multi-event-shared)
        `artists` table.
      properties:
        id:
          type: string
        name:
          type: string
        photo:
          type: string
        bio_html:
          type: string
          description: >-
            Pre-rendered, sanitized HTML (services/data/scraper/render.py's
            `_render_markdown`/`_strip_booking`), not raw markdown. "" (never
            null) when the artist has no bio.
        links:
          type: array
          items:
            $ref: "#/components/schemas/ArtistLink"
        sets:
          type: array
          items:
            $ref: "#/components/schemas/ArtistSet"
      required: [id, name, photo, bio_html, links, sets]

  responses:
    NotFound:
      description: >-
        Unknown event_id/artist_id, a path param that fails its format check,
        or (timetable only) an event with no timed schedule (the pipeline
        never writes timetable.json for it). All three cases return the same
        404 shape -- there is no separate 422 for a malformed event_id/artist_id,
        unlike the UUID-shaped params in `docs/api/companion-openapi.yaml`.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: >-
        Rate limit exceeded for this IP on the shared "lineup_data" bucket
        (600 requests / 3600s per IP, covering all four endpoints in this
        file together, not a separate budget each).
      headers:
        Retry-After:
          schema:
            type: string
            example: "60"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

paths:
  /api/v1/events/{event_id}:
    get:
      tags: [lineup-data]
      summary: Event metadata
      description: >-
        Served straight off `services/companion/static/api/v1/events/{event_id}.json`
        (written by `services/data/scraper/lineup_api_json.py`) with
        `Cache-Control: no-cache`. Rate limit bucket "lineup_data": 600 req / 3600s per IP.
      parameters:
        - $ref: "#/components/parameters/eventIdParam"
      responses:
        "200":
          description: Event metadata.
          headers:
            Cache-Control:
              schema:
                type: string
                example: "no-cache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMetadata"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/events/{event_id}/lineup:
    get:
      tags: [lineup-data]
      summary: List-view data (artists grouped by date, period, and floor for night periods)
      description: >-
        Replaces the server-rendered `<ul class="artist-list">` markup and the
        `TT_SECTIONS`/list-grouping structure baked into `lineup.html` today
        (design doc section 4). Cache-Control no-cache. Rate limit bucket
        "lineup_data": 600 req / 3600s per IP.
      parameters:
        - $ref: "#/components/parameters/eventIdParam"
      responses:
        "200":
          description: Lineup data for the event.
          headers:
            Cache-Control:
              schema:
                type: string
                example: "no-cache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineupResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/events/{event_id}/timetable:
    get:
      tags: [lineup-data]
      summary: Timetable-view data (days, periods, floors with colors, and slots)
      description: >-
        Structured equivalent of the `TT_ARTISTS`/`TT_SECTIONS` inline JS data
        baked into `lineup.html` today (design doc section 4). Distinct from
        `timetable.json` (services/data/scraper/timetable_json.py), which stays a
        private, non-HTTP file read only by the push scheduler and ICS export
        -- both derive slot ids from the same `slot_uuid()` (INV-1), verified
        to agree on every id. 404 when the event has no timed schedule at all
        (the pipeline only writes this file when `has_timetable` is true).
        Cache-Control no-cache. Rate limit bucket "lineup_data": 600 req / 3600s per IP.
      parameters:
        - $ref: "#/components/parameters/eventIdParam"
      responses:
        "200":
          description: Timetable data for the event.
          headers:
            Cache-Control:
              schema:
                type: string
                example: "no-cache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimetableResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/events/{event_id}/artists/{artist_id}:
    get:
      tags: [lineup-data]
      summary: Artist detail (bio, links, sets) -- lazy-loaded replacement for a bios.json entry
      description: >-
        Artist content itself is global (the same bio/links/sets regardless of
        which event's page is asking, design doc section 1), but the route is
        event-scoped: an unknown `event_id` 404s here even though the artist
        JSON file is not stored per-event -- the server checks
        `events/{event_id}.json` exists before serving
        `artists/{artist_id}.json`. Cache-Control no-cache. Rate limit bucket
        "lineup_data": 600 req / 3600s per IP.
      parameters:
        - $ref: "#/components/parameters/eventIdParam"
        - $ref: "#/components/parameters/artistIdParam"
      responses:
        "200":
          description: Artist bio, links, and sets.
          headers:
            Cache-Control:
              schema:
                type: string
                example: "no-cache"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtistDetailResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
